How to connect  n8n with whatsapp.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant alex\nrespond to natural and friendly tone\nYou are currently talking to{{ $json.contacts[0].profile.name }}\nthe current date and time {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        -288
      ],
      "id": "6529da3f-0cc8-418a-a335-7bba4a5d94c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        504,
        -64
      ],
      "id": "7f53289c-093c-4c3b-ba99-7964ef2d8ed6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Xu9Q4qsP3rfQRy8M",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= {{ $('WhatsApp Trigger1').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        632,
        -64
      ],
      "id": "4aa38e7c-48f9-4bf5-8af2-f8ba8b0514f1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "795ace78-2f4a-418a-9bf6-7055b179420b",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -192
      ],
      "id": "e21e2057-c504-429c-9c93-a82af649b905",
      "name": "text only prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "688f620a-ae4f-49da-8b1c-736740857aed",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f5c0f05-6e91-4190-b4df-2c6ba9100e1c",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b9c362f-6f31-424c-9cf0-a83d8866f570",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -624,
        -304
      ],
      "id": "8cbdf249-b1c7-4002-8811-9578a4b75a23",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -400,
        -384
      ],
      "id": "68c345f7-2ad1-435c-8713-45485c331fc6",
      "name": "Get Audio URL",
      "webhookId": "d7f338ae-9a3d-484e-b2ba-bd5d2e373e55",
      "credentials": {
        "whatsAppApi": {
          "id": "XiB2It3EDC037C45",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        -384
      ],
      "id": "9ef17ae5-a4c1-4aef-bce8-4143d06dffeb",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZoTDFa9rps8ePBgv",
          "name": "Header Auth account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        48,
        -384
      ],
      "id": "91576492-97c1-4b28-b939-f761c9bc04af",
      "name": "Transcribe audio",
      "credentials": {
        "googlePalmApi": {
          "id": "zr6JEcfgkHOgaC0u",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb702ee2-b667-45da-b1be-7817a05d1e73",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -384
      ],
      "id": "b66de393-6b64-48eb-bc67-f44fd7c4c68d",
      "name": "audio prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29e12a4f-8cae-4f1f-8db3-f3a22e042daf",
              "leftValue": "={{ $('WhatsApp Trigger1').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        -288
      ],
      "id": "c830a43b-a4b4-48ad-89c7-dd8121d53979",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "862078026981733",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1072,
        -192
      ],
      "id": "89da31ca-e3a0-495d-8a4c-ea3507c90c51",
      "name": "Respond with Text",
      "webhookId": "0086d523-07ab-4c70-8705-c95816cd1e2a",
      "credentials": {
        "whatsAppApi": {
          "id": "jSecJx8I8PoAwVfM",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        -288
      ],
      "id": "128b82f4-a065-4e4b-86f4-eeb490af0644",
      "name": "WhatsApp Trigger1",
      "webhookId": "c4e7408d-e183-4dff-8af6-ca6955504d66",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "j4JusgDun4yQ5OjR",
          "name": "WhatsApp OAuth account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "862078026981733",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1072,
        -384
      ],
      "id": "40fbecff-81ce-4691-8b7d-560c1348753b",
      "name": "Respond with Text1",
      "webhookId": "0086d523-07ab-4c70-8705-c95816cd1e2a",
      "credentials": {
        "whatsAppApi": {
          "id": "jSecJx8I8PoAwVfM",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "text only prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text only prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio": {
      "main": [
        [
          {
            "node": "audio prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond with Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "4d25aa14-1298-460e-8644-20b42a19822a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "668a79abaac72f3a7e5cd40a5c5e75423f7bbd01982e64417b93aab7e5fd78d0"
  },
  "id": "rXOjajhNc2AylMQt",
  "tags": []
}